/*Universal Selector--changes the formatting of the entire page*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Element Selector-Body--changes the formatting of everything contianed within the body tag.*/
body {
  background-color: #d9dcd6;
}
/*Element Selector-Header--changes the formatting of everything contianed within the header tags.*/
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*Element Selector within a Element selector--only changes the formatting of what is contained within h1 tags within the header tags*/
header h1 {
  display: inline-block;
  font-size: 48px;
}
/*Class Selector--only appears within the header h1 elements (those two elements were there previously, and were not needed*/
.seo {
  color: #d9dcd6;
}
/*Element Selector within Element Selector, like header h1 above*/
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/*Element Selector within an Element Selector within an Element Selector, used to style the list*/
header nav ul {
  list-style-type: none;
}
/*Element Selector within an Element Selector within an Element Selector within an Element Selctor, used to style the items of the list*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/*Element Selector... I added the elements prior to it because although the <a> only appears in the header, any <a> that may get added in the future would not be automotically definied by this*/
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
/*Element selector for all p tags.*/
p {
  font-size: 16px;
}
/*Class selector--formats the image that appears below the header*/
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/*Class Selector: formats the content appearing in the right side portion of the body*/
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.content article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/*Class Selectors (float left and float right): some of the articles in the .content section are formatted with the images on the left and some on the right. These two fromat each of those two*/
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content article img {
  max-height: 200px;
}

.content article h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*Class Selector--for the section on the right side of the page below the header*/
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefits article {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefits article h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefits article img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*ELement Selector--footer of webpage*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
